<% for conference in conferences %>
	<div id='conference-<%= conference.id %>' class="conference-description padding5 lightblue-background bordergray-color">
		<%= link_to_function conference.description, "windowManager.openWindowByConferenceId('#{conference_path(conference)}', #{conference.id});" %>
	</div>
<% end %>