<% for conference in conferences %>
	<div id='conference-<%= conference.id %>' class="conference-description padding5 lightblue-background bordergray-color">
		<%= conference.description %>
	</div>
<% end %>