*
{
  font-family:Helvetica;
  text-decoration: none;
}

.clear-height
{
    clear:both;
}

/*------------ Floats -------------*/

.float-left
{
  float: left;
}

.float-right
{
  float: right;
}
/*--------------------------------*/

/*------------ Alignments -------------*/

.align-left
{
  text-align: left;
}

.align-center
{
  text-align: center;
}

.align-right
{
  text-align: right;
}
/*--------------------------------*/

/*------------ Fonts -------------*/
/* Font-sizes */
.large-font
{
  font-size: 34px;
}

/* Others */
.bold
{
  font-weight: bold;
}
/*--------------------------------*/

/*------------ Background Colors -------------*/
.green-background
{
  background-color: #66CDAA;
}
/*--------------------------------*/

/*------------ Colors -------------*/
/* Font-sizes */
.blue-color, .blue-color-link
{
  color: LightSlateBlue;
}

.white-color, .white-color-link
{
  color: white;
}

.green-color, .green-color-link
{
  color: #66CDAA;
}
/*--------------------------------*/

/*------------ Text decorations ----------*/
.underline
{
  text-decoration: underline;
}
/*---------------------------------*/

/*------------ Padding -------------*/
.padding5
{
  padding: 5px;
}

.padding10
{
  padding: 10px;
}
/*--------------------------------*/

/*------------ Margin -------------*/
.margin5
{
  margin: 5px;
}

.margin10
{
  margin: 10px;
}
/*--------------------------------*/

/*------------ Borders -------------*/
/* Solid border */
.solidborder5
{
  border: 5px solid;
}

/* Border color */
.green-border
{
  border-color: #66CDAA;
}

/* Rounded borders */
.borderradius5
{
  -moz-border-radius: 5px;
}

.borderradius10
{
  -moz-border-radius: 10px;
}
/*--------------------------------*/