.conference-description
{
  border-bottom: 1px solid darkgray;
}

.main-blocks
{
  background-color: WhiteSmoke;
}

.main-blocks-header
{
  text-shadow: 2px 2px 2px darkgray;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}