#chat-table
{
}

#chat-table td
{
  text-align: left;
  vertical-align: top;
}

.conference-title-input input
{
  width: 95%;
  border: none;
}

#chat-table #messages-list
{
}

#chat-table #messages-list .conference-messages-outer
{
  height: 100%;
  overflow: auto;
  position: relative;
}

#chat-table #messages-list .conference-messages-container
{
  position: absolute;
  padding: 3px;
}

#chat-table #message-input
{
  height:50px;
}

#chat-table #message-input textarea
{
  width: 100%;
  height: 50px;
  border: none;
  background:none repeat scroll 0 0 transparent;
}

/* --------------- Messages ---------------*/
.message-block
{
  margin-bottom: 5px;
  font-size: 12px;
}

.message-block .message-sender
{
  font-weight: bold;
}