.conference-notifier
{
    background-color:whitesmoke;
    border-color:gray gray -moz-use-text-color;
    border-style:solid solid none;
    border-width:2px 2px 0;
    margin-left:3px;
    min-width: 150px;
}

.conference-notifier .conference-notifier-header
{
  font-size: 11px;
  font-weight: bold;
}

.conference-notifier .conference-notifier-close
{
  cursor: pointer;
  float: right;
}

.conference-notifier .conference-notifier-close:hover
{
  text-decoration: underline;
}

.conference-notifier .conference-notifier-body
{
  font-size: 10px;
  height: 70px;
  padding: 3px;
  overflow-y: auto;
}

.conference-notifier .conference-notifier-message
{
  margin-bottom: 5px;
}

.conference-notifier .conference-notifier-message-sender
{
  text-align: right;
  color: gray;
  font-weight: bold;
}

.conference-notifier .conference-notifier-message-sent-at
{
  display: none;
}