#chat-table
{
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: black;
}

#chat-table td
{
  text-align: left;
  vertical-align: top;
}

#chat-table #messages-list
{
}

#chat-table #messages-list .conference-messages-outer
{
  height: 100%;
  overflow: auto;
  position: relative;
}

#chat-table #messages-list .conference-messages-container
{
  position: absolute;
  padding: 3px;
}

#chat-table #message-input
{
  background-color:lavender;
  border-top:2px solid lightgrey;
  height:50px;
}

#chat-table #message-input textarea
{
  width: 100%;
  height: 50px;
}

/* --------------- Messages ---------------*/
.message-block
{
  margin-bottom: 5px;
  font-size: 12px;
}

.message-block .message-sender
{
  font-weight: bold;
}