#contacts-list
{
  border: 1px solid gray;
  float: left;
}

.contact
{
  cursor: pointer;
}

.contact-hover/*, .contact:hover*/
{
  text-decoration: underline;
  background-color: aliceblue;
  cursor: pointer;
}

.contact .contact-online-status
{
  font-weight: bold;
}

.contact-online .contact-online-status
{
  color: green;
}