<table id="conference-members-table" class="height100 width100 border-spacing3">
	<tr>
		<td id="members-list" class="align-top border-radius10 white-background">
			<div class='conference-members-outer'>
				<div id="conference-members-<%= @conference.id %>" class='conference-members-container padding5 bold'>
					<div class="font-size12 underline darkblue-color">Members in this conference</div>
					<% for member in @conference.users %>
						<div id="conference-member-<%= member.id %>" class='conference-member'>
							<%= member.name %>
						</div>
					<% end %>
				</div>
			</div>
		</td>
	</tr>
	<!--
	<tr>
		<td id="current-user" class="align-top border-radius10 white-background">
		</td>
	</tr>
	-->
</table>