<% previous_sender = nil %>
<% for message in messages %>
	<div id='message-block-<%= message.id %>' class="message-block">
		<% if previous_sender != message.sender %>
			<span class="message-sender">
				<% if message.sender == current_user %>
					Me:
				<% else %>
					<%= message.sender.name + ":" %>
				<% end %>
			</span>
		<% end %>
		
		<%= message.text %>
	</div>
	
	<% previous_sender = message.sender %>
<% end %>