<button class="border-radius10 float-right close-button enabled margin5" onclick="hideElement('about-container'); $('about-button').removeAttribute('disabled');" style="height: 20px; width: 20px; font-size: 15px;">
	X
</button>

<div class="font-size12">
	This is all about the application and its developers
</div>