<% if message[:notice] %>
	<div class="notice border-radius5 padding5">
		<%= message[:notice] %>
	</div>
<% end %>

<% if message[:success] %>
	<div class="success border-radius5 padding5">
		<%= message[:success] %>
	</div>
<% end %>

<% if message[:warning] %>
	<div class="warning border-radius5 padding5">
		<%= message[:warning] %>
	</div>
<% end %>

<% if message[:error] %>
	<div class="error border-radius5 padding5">
		<%= message[:error] %>
	</div>
<% end %>