<div id="login_logout_links">
	<% if logged_in? %>
	  Logged in as <%= current_user.login %> (<%= link_to "Logout", :controller => "/account", :action => "logout" %>)
	  
	  <br/>(<%= link_to "Reset password", :controller => "/account", :action => "reset_password" %>)
	<% end %>
</div>

<div class="clear-height"></div>