<div id="login_logout_links" class="font-size14 bordergray-color blue-color-link">
	<% if logged_in? %>
	  Logged in as <%= current_user.login %> (<%= link_to "Logout", {:controller => "/account", :action => "logout"}, :class => "underline" %>)
	  
	  <!--
	  <br/>(<%= link_to "Reset password", :controller => "/account", :action => "reset_password" %>)
	  -->
	<% end %>
</div>

<div class="clear-height"></div>