<% form_tag do -%>
Login<br/>
<%= text_field_tag 'login' %></p>

Password<br/>
<%= password_field_tag 'password' %></p>

Remember me
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Log in' %> </p>
Dont you have account? Then just follow few steps and signup here</br> 
<%= link_to "Sign up", :controller => "/account", :action => "signup" %></p>
<% end -%>
